.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Adjust the alpha value for transparency */
    z-index: 99; /* Ensure the overlay is above other content */
    animation: pop-in 0.3s ease-in-out;
  }
  
  
  .viewmaster > button {
    letter-spacing: 1.2px;
    height: 4rem !important;
    width: 24% !important;
    float: right;
    padding-top: 0 !important;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-right: 2rem;
    margin-top: 2rem;
    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
  
    /* SUBHEAD - 16B */
    font-family: "GT-Walsheim-Pro-Regular";
    font-size: 1.6rem !important;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem !important; /* 100% */
  }
  
  .downloadicon {
    font-size: 2.5rem !important;
  }
  
  .table {
    /* width: 40vw!important; */
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }
  
  .table tbody {
    width: 72vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    /* border: 2px solid #522398; */
    /* height: 350px; */
    /* width: 100%; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* overflow-x: scroll; */
  
    /* --shadow-color: 0deg 0% 59%;
          box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
          1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
          2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
          4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
          7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
          11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
          17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
          25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
          border-radius: 2rem; */
  }
  
  .table tbody::-webkit-scrollbar {
    display: none;
  }

  
  
.table tbody tr {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10% 15% 15% 15% 15% 15% 15% 15% 15% 25% 15%;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.table tbody tr th {
  z-index: 50 !important;
  border-top: 0.5px solid #a3a3a3;
  border-bottom: 0.5px solid #a3a3a3;
  color: #4F2D7F;
}

.table tbody tr th:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 0.5px solid #a3a3a3;
}
.table tbody tr th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 0.5px solid #a3a3a3;
}

.table tbody tr td {
  z-index: 25 !important;
  border-top: 0.5px solid #a3a3a3;
  border-bottom: 0.5px solid #a3a3a3;
  color: #252525;
}

.table tbody tr td:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 0.5px solid #a3a3a3;
}
.table tbody tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 2px solid #a3a3a3;
}



.table tbody tr td,
.table tbody tr th {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
 
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 

  word-break: break-all;
}

.table tbody tr:nth-child(1) {
  position: sticky;
  top: 0;
  z-index: 50;
}
  .icon2 {
    color: red;
  }
  
  
  .popup {
    position: fixed;
  
    /* top: 50%; 
    transform: translateY(-50%);  */
    left: 32.5%;
    width: 35%;
    /* height: 90%; */
    height: 540px;
    top: calc((100% - 540px) / 2);
    /* top: 5%; */
    /* max-height: 85%; */
  
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
    /* align-items: center; */
  
    --shadow-color: 0deg 0% 59%;
    box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
    /* border-radius: 2rem; */
  
    box-shadow: 0 0 500px 500px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
  
    border-radius: 6px;
    background: #fff;
    animation: pop-in 0.3s ease-in-out;
  }
  
  .popup h4 {
    color: var(--GT-Purple, #4f2d7f);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "GT-Walsheim-Pro-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  
  .popup section {
    border-radius: 5px;
    background: #f9f5ff;
    width: 100%;
    /* margin-left: 2.5%; */
    /* margin-right: 2.5%; */
    /* margin-bottom: 2.5%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 2rem;
    margin: 0;
  }
  
  .popup section h6 {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "GT-Walsheim-Pro-Regular";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-bottom: 1rem; */
  }
  
  .popup section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 1rem; */
    /* justify-content: left!important; */
  }
  
  .popup section div span {
    height: 2rem;
    /* width: 150px!important; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: unset; */
    /* margin-bottom: 1rem; */
    /* justify-self: left!important; */
  }
  
  .popup section div span label {
    color: var(--shades-of-gray-jet, #333);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "GT-Walsheim-Pro-Regular";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* margin-right: 0.5rem!important; */
  }
  
  .popup section div span input {
    height: 15px;
    width: 15px;
    margin-right: 1rem;
  }
  
  .popup section input {
    border: none;
    outline: none;
    padding: 1.5rem;
    border-radius: 8px;
    background: #fff;
    width: 100%;
    height: 3rem;
    color: #747474;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "GT-Walsheim-Pro-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .popup section img {
    width: 100%;
    height: 8rem;
  }
  
  .popup section button {
    border-radius: 8px;
    background: var(--GT-Purple, #4f2d7f);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: none;
    outline: none;
    height: 6rem;
  
    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "GT-Walsheim-Pro-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
  }
  
  .popup div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
  }
  
  .popup div button {
    border-radius: 8px;
    /* background: var(--GT-Purple, #4F2D7F); */
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
    border: none;
    outline: none;
  
    /* color: var(--White, #FFF); */
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "GT-Walsheim-Pro-Regular";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup div button:nth-child(1) {
    background: var(--GT-Purple, #4f2d7f);
    color: white;
  }
  
  .popup div button:nth-child(2) {
    background: white;
    color: #4f2d7f;
  }
  
  
  
  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  