
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
  z-index: 99; /* Ensure the overlay is above other content */
  animation: pop-in 0.3s ease-in-out;
}

.uploaded > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  padding: 2%;
  margin-top: 2%;
}

.uploaded > div label {
  color: var(--shades-of-gray-jet, #333);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 2.25rem;
}

.uploaded > div input {
  height: 1.9rem;
  margin-right: 0.75rem;
}

.uploaded > span {
  height: 4rem !important;
  width: 100%;
  padding-top: 0 !important;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

.uploaded > span button {
  height: 100%;
  width: 30%;
  width: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  margin-left: 3rem;

  /* SUBHEAD - 16B */
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 100% */
}

.downloadicon {
  font-size: 2.5rem !important;
}

.uploaded > span > label {
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  background: #fff;
  box-shadow: -2px 2px 7px 2px #00000016;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded > span > label > input {
  width: 95%;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.table {
  /* width: 97.5%; */
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.table tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  /* border: 2px solid #522398; */
  /* height: 350px; */
  width: 72vw !important;
  overflow-y: scroll;

  overflow-x: scroll;

  /* --shadow-color: 0deg 0% 59%;
        box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
        1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
        2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
        4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
        7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
        11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
        17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
        25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
        border-radius: 2rem; */
}

.table tbody::-webkit-scrollbar {
  display: none;
}

.table tbody tr {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 12.5% 15% 15% 15% 15% 15% 15% 15% 15% 25% 15%;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.table tbody tr th {
  z-index: 50 !important;
  border-top: 0.5px solid #a3a3a3;
  border-bottom: 0.5px solid #a3a3a3;
  color: #4F2D7F;
}

.table tbody tr th:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 0.5px solid #a3a3a3;
}
.table tbody tr th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 0.5px solid #a3a3a3;
}

.table tbody tr td {
  z-index: 25 !important;
  border-top: 0.5px solid #a3a3a3;
  border-bottom: 0.5px solid #a3a3a3;
  color: #252525;
}

.table tbody tr td:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 0.5px solid #a3a3a3;
}
.table tbody tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 2px solid #a3a3a3;
}



.table tbody tr td,
.table tbody tr th {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
 
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 

  word-break: break-all;
}

.table tbody tr:nth-child(1) {
  position: sticky;
  top: 0;
  z-index: 50;
}
.icon2 {
  color: red;
}

.popup {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  width: 90vw !important;
  height: 85vh !important;
  z-index: 100;
  display: flex;
  flex-direction: column !important;
  padding: 2rem;
  justify-content: space-between;

  --shadow-color: 0deg 0% 59%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
    box-shadow: 0 0 500px 500px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;

  border-radius: 6px;
  background: #fff !important;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.popup::-webkit-scrollbar {
  display: none;
}

.popup section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;

  margin: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  color: var(--GT-Purple, #4f2d7f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.popup2 {
  position: fixed;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  top: 7.5vh;
  left: 15vw;
  width: 70vw !important;
  height: 85vh !important;
  z-index: 100;
  display: flex;
  flex-direction: column !important;
  padding: 2rem;
  justify-content: space-between;

  --shadow-color: 0deg 0% 59%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
  flex-shrink: 0;
  box-shadow: 0 0 500px 500px rgba(0, 0, 0, 0.5);

  
  border-radius: 6px;
  background: #fff !important;
  overflow-y: scroll;
  scroll-behavior: smooth;
  animation: pop-in 0.5s ease-in-out;
}

.popup2::-webkit-scrollbar {
  display: none;
}

.closeicon {
  font-size: 2.5rem !important;
  color: black;
  cursor: pointer;
}

.popup2 h5 {
  color: var(--GT-Purple, #4f2d7f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.popup2 div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  padding: 1.5rem;
}

.popup2 > div label {
  color: var(--shades-of-gray-jet, #333);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 2.25rem;
}

.popup2 > div input {
  height: 1.9rem;
  margin-right: 0.75rem;
}

.popup2 > div button {
  border-radius: 8px;
  border: 2px solid var(--GT-Purple, #4f2d7f);
  color: var(--GT-Purple, #4f2d7f);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  height: 3.5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  margin-left: auto;
}

.popup2 p {
  color: var(--primary-colors-pewter-blue, #79949c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.popup2 p b {
  color: var(--gt-purple-80, #725799);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
  margin-left: 1rem;
  cursor: pointer;
}

.highicon {
  color: #ffa726;
  background-color: #ffdba5;
  border-radius: 50%;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* .downloadicon {
  color: white;
  cursor: pointer;
  margin-left: auto;
  font-size: 2.5rem !important;
} */

.popup2 section {
  width: 100%;
  height: 70%;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  background: #f9f5ff;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.popup2 section::-webkit-scrollbar {
  width: 5px;
}

.popup2 section::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.popup2 section::-webkit-scrollbar-thumb {
  background-color: #4f2d7f;
  border-radius: 50px;
}

.popup2 section::-webkit-scrollbar-thumb:hover {
  background-color: #39205c;
}

.popup2 section div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.popup2 section div h2 {
  color: var(--GT-Purple, #4f2d7f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.popup2 section div select {
  border-radius: 5px 5px 0px 0px;
  background: #fff;
  color: var(--GT-Purple, #4f2d7f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 91%;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.popup2 span {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.popup2 span button {
  padding: 0.75rem 2.75rem;
  font-weight: 600;
}

.popup2 span button:last-child {
  margin-left: 3rem;
}

.popup2 span button:nth-last-child(2) {
  margin-left: auto;
}

/* Styles for the file upload container */
.fileUpload {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  /* padding: 1rem; */
  margin-left: 0 !important;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dotted border 1rem inside actual borders */
.fileUpload {
  border: 1px dashed #ccc;
  margin: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* Style for the document icon */
.uploadIcon {
  border: 1px dashed #ccc;
  border-radius: 10px;
  width: 98% !important;
  height: 90%;
  /* margin: 2rem; */
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center !important;
}

/* Styles for the upload text */
.uploadText1,
.uploadText2 {
  /* font-size: 18px; */
  margin: 10px 0 !important;
}

.uploadText1 {
  color: var(--gt-purple-80, #725799) !important;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.6rem !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

.uploadText2 {
  color: var(--gt-purple-40, #b9abcc) !important;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "GT-Walsheim-Pro-Regular";
  font-size: 1.2rem !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

.fileInput {
  display: none;
}

.fileUpload:hover {
  background-color: #e0e0e0;
}

.fileUpload:active {
  background-color: #d0d0d0;
}

/* Customize the appearance of the file input button */
input[type="file"]::-webkit-file-upload-button {
  /* visibility: hidden; */
  background-color: white;
  outline: none;
  /* border: none; */
}

/* input[type="file"]::before {
  content: "Choose File";
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
} */

/* input[type="file"]:hover::before {
  background: #0056b3;
} */

.leftbutton {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  margin-left: auto;
  margin-right: 3rem;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
