.sectiontds {
  width: 100%;
  display: flex;
  flex-direction: column !important;
  padding-left: 0!important;
}

.sectiontds span {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-left: 2rem; */
  color: #4f2d7f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'GT-Walsheim-Pro-Regular';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  list-style: none;
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 2rem;
  padding-right: 2rem;
  /* padding: 0.5rem; */
  cursor: pointer;
}

.righticon {
  font-size: 2.1rem !important;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


.sectiontds ul {
  margin-top: 2rem;
  width: 100%;
  /* height: 5rem!important; */
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  /* background-color: red; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.sectiontds ul li {
  color: #b3b3b3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'GT-Walsheim-Pro-Regular';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  list-style: none;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem!important;
  padding-right: 5rem!important;
  
  cursor: pointer;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sectiontds ul li:active,
.sectiontds ul li:hover {
  color: var(--GT-Purple, #4f2d7f);
  border-bottom: 2px solid #4f2d7f;
}

  

.sectiontds section {
  display: flex !important;
  flex-direction: row;
  /* width: 100%; */
  /* margin-top: 2rem; */
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
  justify-content: right !important;
  align-items: center;
  /* padding-right: 4%; */
}

.sectiontds section button {
  width: 26% !important;
  padding: 0.75rem 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.6rem !important;
  /* line-height: 1.6rem!important; */
}

.buttonicon {
  font-size: 2.5rem !important;
}

.table {
  width: 98%;
  margin-left: 0rem !important;
  background-color: #f5f2fb;
}

.table tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  /* border: 2px solid #522398; */
  /* height: 350px; */
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  overflow-y: scroll;

  overflow-x: scroll;

  /* --shadow-color: 0deg 0% 59%;
          box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
          1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
          2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
          4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
          7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
          11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
          17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
          25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
          border-radius: 2rem; */
}

.table tbody::-webkit-scrollbar {
  display: none;
}

.table tbody tr {
  width: 100%;
  /* width: 1100px; */
  display: grid;
  /* grid-template-columns: min-content fit-content(100%); */
  /* grid-auto-columns: minmax(1, 1fr); */
  grid-auto-flow: column;
  /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; */
  grid-template-columns: 2fr 0.75fr 0.75fr 0.75fr 0.75fr;
  /* grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%; */
  /* border-bottom: 1px solid #ccc; */
  /* background-color: white; */
  margin-bottom: 1rem;
  border-radius: 8px;
}

.table tbody tr th {
  z-index: 50 !important;
  /* background-color: #ccc; */
  /* background-color: white; */
  font-weight: 700 !important;
  /* background: #f9f5ff; */
}

.table tbody tr td {
  z-index: 25 !important;
  /* background-color: white; */
  /* line-height: 1rem!important; */
  /* background: #f9f5ff; */
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.table tbody tr td,
.table tbody tr th {
  /* border: 1px solid black; */
  /* width: 90%; */
  /* height: 90%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* font-size: 1.5rem; */
  /* padding-right: 14rem; */

  color: var(--GT-Purple, #4f2d7f);
  font-feature-settings: "clig" off, "liga" off;
  /* font-family: GT Walsheim Pro; */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 1rem; */
  background-color: white;
}

.table tbody tr:nth-child(1) {
  position: sticky;
  top: 0;
  /* background-color: red!important; */
  z-index: 50;
}
